/* Center the container in the middle of the screen */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full screen height */
    background-color: #f0f0f0; /* Light background */
    flex-direction: column;
    margin-top: -400px;
  
}

/* Profile Card */
.container .profile-card {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

/* Headings and labels */
.container h2 {
    margin-bottom: 20px;
    color: #333;
    font-family: cursive;

}

.profile-card p {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
    font-family: cursive;
}

/* Logout button */
.btn-logout {
    display: inline-block;
    padding: 10px 20px;
    background-color: gold;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
    font-family: cursive;
}

.btn-logout:hover {
    background-color: goldenrod;
}

.btn-update{
    display: inline-block;
    padding: 10px 20px;
    background-color: gold;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
    font-family: cursive;
}

.btn-update:hover{
    background-color: goldenrod;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .profile-card {
        width: 90%;
        padding: 20px;
    }
}
