body {
    background-color: rgb(27, 218, 218);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
}

.content h1{
    height:fit-content;
  width: 1037px;
    background-color: rgb(27, 218, 218);
    position: absolute;
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Add box shadow */
    font-size: 30px;
    padding: 15px 15px 15px 15px;
    text-align: center;
    margin-top: -5px;
}

.container {
    text-align: center;
    font-family: cursive;
}

.btn {
    background-color: gold;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: cursive;
}

.btn:hover {
    background-color: darkgoldenrod;
}

/* header */
.btn_logout{
    text-decoration: none;
    color: rgb(67, 65, 65);
    background-color: gold;
    font-family: cursive;
    font-size: 19px;
    border-bottom: 20px;
    border-top: 20px;
    border-left: 20px;
    border-right: 20px;
    border-radius: 5px;
    margin-left: 884px;
    margin-top: 0px;
    position: absolute;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
  }
  

/* header */

.o_block {
    margin-top: 125px;
    margin-left: 276px;
    height: 150px;
    width: 254px;
    background-color: rgb(27, 218, 218);
    position: absolute;
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Add box shadow */
    font-size: 19px;
}
.o_block p{
    margin-left: 10px;
}

.o_block h1{
    margin-left: 10px;
}

.d_block {
    margin-top: 125px;
    margin-left: 544px;
    height: 150px;
    width: 254px;
    background-color: rgb(27, 218, 218);
    position: absolute;
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Add box shadow */
    font-size: 19px;
}
.d_block p{
    margin-left: 10px;
}

.d_block h1{
    margin-left: 10px;
}

.P_block{
    margin-top: 125px;
    margin-left: 816px;
  height: 150px;
  width: 254px;
  background-color: rgb(27, 218, 218);
    position: absolute;
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Add box shadow */
    font-size: 19px;
}

.P_block p{
    margin-left: 10px;
}

.P_block h1{
    margin-left: 10px;
}

.c_block{
    margin-top: 125px;
  margin-left: 1084px;
  height: 150px;
  width: 254px;
  background-color: rgb(27, 218, 218);
    position: absolute;
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Add box shadow */
    font-size: 19px;
}

.c_block p{
    margin-left: 10px;
}

.c_block h1{
    margin-left: 10px;
}

